.grafico-card{

    background-color: var(--bg-tarjetas);
    padding: 40px;
    border-radius: var(--border-radio);
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    
}

.grafico-header{

    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;   
    align-items: center;    
}

.grafico-header p {

    color : var(--texto-gris);
    font-size: 0.9rem;
}

.grafico-filtros{
    display: flex;
    gap: 8px;
}

.btn-filtro{

    background: transparent;
    border: none;
    color: var(--texto-gris);
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    padding:6px 12px ;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-filtro:hover{

    color: var(--texto-blanco);
}

.btn-filtro.activo {

    color: var(--texto-blanco);
    background-color: rgba(255, 255,255 ,0.1 );
}


.grafico-body{

    position: relative;
    height: 300px;
    width: 100%;
}

/* ======================================================= */
/* ====== DISEÑO RESPONSIVO (MÓVILES Y TABLETS) ========== */
/* ======================================================= */

@media screen and (max-width: 768px) {
  
  /* 1. RECUPERANDO ESPACIO VITAL */
  /* Reducimos el margen interno a la mitad para que el gráfico pueda estirarse más */
  .grafico-card {
    padding: 20px;
  }

  /* 2. PROTEGIENDO EL ENCABEZADO Y LOS BOTONES */
  /* Cambiamos la fila a columna para que los botones de filtro queden debajo del título */
  .grafico-header {
    flex-direction: column;
    gap: 15px;
  }

  /* 3. CENTRANDO LOS FILTROS */
  /* Nos aseguramos de que los botones de tiempo se centren y, si algún día agregas más, bajen de línea solos */
  .grafico-filtros {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  /* 4. ACHICANDO EL LIENZO DEL GRÁFICO */
  .grafico-body {
    height: 250px;
  }
}